name: Publish

on:
  pull_request:
    types: [closed]
  workflow_dispatch:

permissions:
  id-token: write
  contents: read
  pull-requests: read

jobs:
  create-release:
    if: github.event.pull_request.merged && github.event.pull_request && startsWith(github.head_ref, 'release/')
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      
      - name: Extract version
        id: version
        run: |
          echo "version=$(node -p 'require("./package.json").version')" >> $GITHUB_OUTPUT

      # 设置 pnpm
      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      # 设置 Node.js 环境，版本为 20.17.0
      - uses: actions/setup-node@v4
        with:
          node-version: 20.17.0

      - run: pnpm install --no-frozen-lockfile

      - name: Update npm
        run: npm install -g npm@latest

      - name: Build
        run: pnpm run build

      - run: |
          VERSION=${{ steps.version.outputs.version }}
          if [[ "$VERSION" == *"-"* ]]
          then
            TAG_NAME="${VERSION##*-}"
            cd packages/site && npm publish --tag "${TAG_NAME%%.*}"
          else
            cd packages/site && npm publish
          fi

